* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}
body{
    background: #f8f8f8;
}

/*Common Css*/
/* Menue Parts starts Here*/

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #777777
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}

.search{
   position: absolute;
   top: 50px;
   right: 250px;
}
.search i{
    position: absolute;
    top: 12px;
    right: 16px;
 }
 


/* Menue Parts ends  Here*/

/* bunner Parts starts  Here*/

/*   gelley part starts here */

#blank{
    margin-top: 200px;
}

.blank_box{
   height: 550px;
   background: white;
}
 #evnt-h5{
    font-size: 15px;
    padding-left: 230px;
    padding-top: 10px;
 }
.blank-txt h1{
text-align: center;
letter-spacing: 20px;
padding-left: 200px;
padding-top: 50px;
color: #0087ad;
}
.blank-txt h2{
    font-size: 20px;
    padding-left: 220px;
    padding-top: 24px;
    color: #9699a8;
    }
.blank-txt p{
    padding-left: 190px;
padding-top: 20px;
font-size: 16px;
color: #736357;
}
.blank-txt p span{
    font-weight: 500;
    font-size: 14px;
    }


