* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}
body{
    background: #f8f8f8;
}

/*Common Css*/
/* Menue Parts starts Here*/

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #777777
    padding: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}

.search{
   position: absolute;
   top: 50px;
   right: 250px;
}
.search i{
    position: absolute;
    top: 12px;
    right: 16px;
 }
 


/* Menue Parts ends  Here*/

/* bunner Parts starts  Here*/

/*   gelley part starts here */
#gellary{
    margin-top: 200px;
}
.pics{
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
.pics img{
    width: 100%;
    height: 100%;
}
.veiw{
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.veiw a{
    color: rgb(66, 65, 65);
}
/*   gelley part ends here */

/*  Exptitions Part starts Here  */

.exp-text h1{
    text-align: center;
    color :#acacac;
    letter-spacing: 18px;
}
.txt-pic{
    margin-top: 30px;
}
.exp-pic-txt{
    margin-top: 60px;
}
.exp-pic-txt h1{
    color: #0087ad;
}
.exp-pic-txt h3{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}
.exp-pic-txt h5{
    font-size: 22px;
    color :#acacac;
    padding-bottom: 10px;
}
.exp-more{
    margin-top: 40px;
}
.exp-more h1{
    color: #0087ad;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.exp-more h3{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.exp-more h5{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.btn-exp{
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.btn-exp a{
    color: rgb(66, 65, 65);
    text-align: center;
    font-size: 22px;
    letter-spacing: 6px;
}
/*  Exptitions Part starts Here  */

/* event part starts here */
.event-txt h1{
    text-align: center;
    color :#f9ad81;
    letter-spacing: 18px;
}
.event-more{
    margin-top: 40px;
}
.event-more h1{
    color: #0087ad;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.event-more h6{
    color: #959595;
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 0;
}

.event-more h3{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.event-more p{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.event-more h5{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.btn-event{
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.btn-event a{
    color: #f9ad81;
    text-align: center;
    font-size: 22px;
    letter-spacing: 4px;
}
/* event part ends here */